alias zshconfig="s ~/.zshrc"
alias ohmyzsh="s ~/.oh-my-zsh"
alias c=cd
alias nv="latest-version"
alias nh="npm docs"
alias nis="npm install --save"
alias nid="npm install --save-dev"
alias ags="ag --ignore-case --literal"
alias nl="npm link --force"
alias g=git
alias nig="npm install -g"
alias ni="npm install"
alias gcl=clonecd
alias zshrc="source ~/.zshrc"
alias chr="open -a Google\ Chrome\ Canary"
alias ht="cd /Applications/MAMP/htdocs"
alias git=hub
alias dl="cd /Users/Lukyth/Downloads"
alias dt="cd /Users/Lukyth/Desktop"