alias zshconfig="s ~/.zshrc"
alias ohmyzsh="s ~/.oh-my-zsh"
alias c=cd
alias nv="latest-version"
alias nh="npm docs"
alias nis="npm install --save"
alias nid="npm install --save-dev"
alias ags="ag --ignore-case --literal"
alias nl="npm link --force"
alias g=git
alias nig="npm install -g"
alias ni="npm install"
alias gcl=clonecd
alias zshrc="source ~/.zshrc"
alias chr="open -a Google\ Chrome\ Canary"
alias ht="cd /Applications/MAMP/htdocs"
alias git=hub
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"

# Update installed Ruby gems, Homebrew, npm, and their installed packages
alias brew_update="brew -v update; brew upgrade --force-bottle --cleanup; brew cleanup; brew cask cleanup; brew prune; brew doctor; npm-check -g -u"
alias update_brew_npm_gem='brew_update; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update --no-document'
