s () {
    if [ $# -eq 0 ]
    then
        /Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl .
    else
        /Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl "$@"
    fi
}
a () {
    if [ $# -eq 0 ]
    then
        atom-beta .
    else
        atom-beta "$@"
    fi
}
e () {
    if [ $# -eq 0 ]
    then
        emacs .
    else
        emacs "$@"
    fi
}
clonecd () {
    hub clone --recursive $1 && cd $(basename ${1%.git})
}
phps () {
    php -S localhost:$1
}
function f_notifyme {
  LAST_EXIT_CODE=$?
  CMD=$(fc -ln -1)
  # No point in waiting for the command to complete
  notifyme "$CMD" "$LAST_EXIT_CODE" &
}
