"*":
  "activate-power-mode":
    particles:
      enabled: false
      spawnCount:
        max: 6
        min: 2
      totalCount:
        max: 100
  "atom-alignment": {}
  "atom-beautify":
    _analyticsUserId: "72b7c2a1-1bef-4fb1-9c53-95c799d67b1f"
    cpp_configPath: "/Users/Lukyth/Projects/CPE/y3/sem2/comsys/lab8/uncrustify.cfg"
  "auto-update-packages": {}
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "welcome"
      "about"
      "metrics"
      "react"
      "project-viewer"
      "atom-typescript"
      "whitespace"
      "tree-view"
      "standard-formatter"
      "linter"
    ]
    titleBar: "hidden"
  docblockr: {}
  editor:
    fontFamily: "Fira Code"
    invisibles: {}
    scrollPastEnd: true
    showInvisibles: true
    softWrap: true
  emmet: {}
  "exception-reporting":
    userId: "9d22d7ba-b926-2dad-2146-7ca5b60de9e0"
  "fuzzy-finder":
    ignoredNames: [
      "node_modules"
    ]
  jumpy:
    fontSize: 0.85
    highContrast: true
  linter:
    errorPanelHeight: 68
  "linter-bootlint":
    executablePath: "/Users/Lukyth/.npm-packages/bin/bootlint"
  "linter-eslint":
    globalNodePath: "/Users/Lukyth/.npm-packages"
  "linter-htmlhint": {}
  "linter-jscs": {}
  "linter-php": {}
  "linter-sass-lint":
    noConfigDisable: true
  "linter-scss-lint": {}
  "linter-stylelint":
    disableWhenNoConfig: true
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      selection: true
      selectionDecorationsZIndex: 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  nuclide:
    installRecommendedPackages: true
    "nuclide-adb-logcat": {}
    "nuclide-arcanist": {}
    "nuclide-buck": {}
    "nuclide-clang": {}
    "nuclide-console": {}
    "nuclide-datatip": {}
    "nuclide-debugger-native": {}
    "nuclide-debugger-node": {}
    "nuclide-debugger-php": {}
    "nuclide-definition-preview": {}
    "nuclide-file-tree": {}
    "nuclide-flow": {}
    "nuclide-hack": {}
    "nuclide-health":
      toolbarJewel: "None"
    "nuclide-ios-simulator-logs": {}
    "nuclide-ocaml": {}
    "nuclide-python": {}
    "nuclide-react-native": {}
    "nuclide-related-files": {}
    "nuclide-remote-projects": {}
    "nuclide-swift": {}
    use:
      "nuclide-adb-logcat": false
      "nuclide-arcanist": false
      "nuclide-blame-provider-hg": false
      "nuclide-debugger-php": false
      "nuclide-diff-view": false
      "nuclide-hack": false
      "nuclide-hg-conflict-resolver": false
      "nuclide-hg-repository": false
      "nuclide-hhvm": false
      "nuclide-home": false
      "nuclide-ios-simulator-logs": false
      "nuclide-language-hack": false
      "nuclide-language-reason": false
      "nuclide-objc": false
      "nuclide-remote-atom": false
      "nuclide-remote-projects": false
      "nuclide-source-control-side-bar": false
      "nuclide-swift": false
  "one-dark-ui": {}
  pigments:
    markerType: "dot"
  "seti-ui": {}
  "spell-check": {}
  "status-bar": {}
  "tool-bar":
    fullWidth: false
    iconSize: "16px"
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  "vim-mode":
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
"linter-csslint":
  executablePath: "/Users/Lukyth/.npm-packages/bin/csslint"
"linter-jsonlint":
  jsonExecutablePath: "/Users/Lukyth/.npm-packages/bin/jsonlint"
"linter-php":
  executablePath: "/usr/local/php5/bin/php"
